<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.PsycUserRoleRltMapper">
  <resultMap id="BaseResultMap" type="com.lby.psychology.model.pojo.PsycUserRoleRlt">
    <id column="user_role_rlt_id" jdbcType="INTEGER" property="userRoleRltId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="remakr" jdbcType="VARCHAR" property="remakr" />
  </resultMap>
  <sql id="Base_Column_List">
    user_role_rlt_id, user_id, role_id, remakr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from psyc_user_role_rlt
    where user_role_rlt_id = #{userRoleRltId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from psyc_user_role_rlt
    where user_role_rlt_id = #{userRoleRltId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_role_rlt_id" keyProperty="userRoleRltId" parameterType="com.lby.psychology.model.pojo.PsycUserRoleRlt" useGeneratedKeys="true">
    insert into psyc_user_role_rlt (user_id, role_id, remakr
      )
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER}, #{remakr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="user_role_rlt_id" keyProperty="userRoleRltId" parameterType="com.lby.psychology.model.pojo.PsycUserRoleRlt" useGeneratedKeys="true">
    insert into psyc_user_role_rlt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="remakr != null">
        remakr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="remakr != null">
        #{remakr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lby.psychology.model.pojo.PsycUserRoleRlt">
    update psyc_user_role_rlt
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="remakr != null">
        remakr = #{remakr,jdbcType=VARCHAR},
      </if>
    </set>
    where user_role_rlt_id = #{userRoleRltId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lby.psychology.model.pojo.PsycUserRoleRlt">
    update psyc_user_role_rlt
    set user_id = #{userId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=INTEGER},
      remakr = #{remakr,jdbcType=VARCHAR}
    where user_role_rlt_id = #{userRoleRltId,jdbcType=INTEGER}
  </update>
</mapper>