<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lby.psychology.mapper.PsycQuestionMapper">
  <resultMap id="BaseResultMap" type="com.lby.psychology.model.pojo.PsycQuestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="dimension" jdbcType="INTEGER" property="dimension" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question_name, dimension, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from psyc_question
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectQuestionLikeSearch" resultType="com.lby.psychology.model.vo.PsycQuestionVo">
      select pq.id, pq.question_name, ps.scale_id ,ps.scale_name,ps.scale_type
      from psyc_question pq left join psyc_question_dimension qd on pq.dimension = qd.dimension_id
      left join psyc_scale ps on  qd.scale_id = ps.scale_id
      where 1 = 1
      <if test="keyword!=null and keyword!=''">
        and question_name like CONCAT(#{keyword},'%')
      </if>
    </select>
  <select id="selectQuestionScale" resultType="com.lby.psychology.model.vo.PsycQuestionVo">
    SELECT
           scale_id,
           scale_type,
           scale_name,
           create_date,
           update_date
    FROM `psyc_scale`
    where 1 = 1
    <if test="scaleType!=null">
      and scale_type=#{scaleType}
    </if>
  </select>
    <select id="selectQuestionDetail" resultType="com.lby.psychology.model.vo.PsycQuestionVo">
      SELECT
        pqd.scale_id,
        ps.scale_type ,
        pq.id,
        pq.question_name,
        pq.dimension,
        pqd.dimension_name,
        pq.create_date,
        pq.update_date
      FROM
        psyc_scale ps
          LEFT JOIN psyc_question_dimension pqd ON ps.scale_id = pqd.scale_id and pqd.scale_id = #{scaleId}
          INNER JOIN psyc_question pq ON pqd.dimension_id = pq.dimension
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from psyc_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lby.psychology.model.pojo.PsycQuestion" useGeneratedKeys="true">
    insert into psyc_question (question_name,
      dimension, create_date, update_date
      )
    values (#{questionName,jdbcType=VARCHAR},
      #{dimension,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lby.psychology.model.pojo.PsycQuestion" useGeneratedKeys="true">
    insert into psyc_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionName != null">
        question_name,
      </if>
      <if test="scaleId != null">
        scale_id,
      </if>
      <if test="dimension != null">
        dimension,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionName != null">
        #{questionName,jdbcType=VARCHAR},
      </if>
      <if test="scaleId != null">
        #{scaleId,jdbcType=INTEGER},
      </if>
      <if test="dimension != null">
        #{dimension,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertScale">
    insert into psyc_scale(scale_type,scale_name)
    value (#{scaleType},#{scaleName})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lby.psychology.model.pojo.PsycQuestion">
    update psyc_question
    <set>
      <if test="questionName != null">
        question_name = #{questionName,jdbcType=VARCHAR},
      </if>
      <if test="scaleId != null">
        scale_id = #{scaleId,jdbcType=INTEGER},
      </if>
      <if test="dimension != null">
        dimension = #{dimension,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lby.psychology.model.pojo.PsycQuestion">
    update psyc_question
    set question_name = #{questionName,jdbcType=VARCHAR},
      scale_id = #{scaleId,jdbcType=INTEGER},
      dimension = #{dimension,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
